#myAnchorPane{
    -fx-background-image: url("../images/ezgif.com-gif-maker.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
#myAncorPane1{
    -fx-background-image: url("../images/ezgif.com-gif-maker.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
#myAncorPane2{
    -fx-background-image: url("../images/ezgif.com-gif-maker.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
#myAnchorPane3{
    -fx-background-image: url("../images/ezgif.com-gif-maker.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
#myAnchorPane4{
    -fx-background-image: url("../images/ezgif.com-gif-maker.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
#myAnchorPane5{
    -fx-background-image: url("../images/ezgif.com-gif-maker.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.button{
    -fx-background-image: url("../images/bup1.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-font-size: 15;
    -fx-font-family: "Lucida Console";
    -fx-text-fill:   black;
}
.button:hover{
    -fx-background-image: url("../images/bhr2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-font-size: 15;
    -fx-font-family: "Lucida Console";
    -fx-text-fill:   black;
}
.button:pressed{
    -fx-background-image: url("../images/bdn3.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-font-size: 15;
    -fx-font-family: "Lucida Console";
    -fx-text-fill:   black;
}


#myLabel{
    -fx-font-size: 89;
    -fx-font-family: "Magneto";
    -fx-text-fill: linear-gradient(to right, greenyellow, indianred) ;

}

.label{
    -fx-font-size: 40;
    -fx-font-family: "CentSchbkCyrill BT";
    -fx-text-fill:white,
    #b5b5b5,
    linear-gradient(#fdfdfd, #e1e1e1),
    linear-gradient(#eeeeee, #d9d9d9);
    -fx-font-smoothing-type: lcd;
    -fx-effect: dropshadow(gaussian,black,1,1.2,0.9,0.6);
    -fx-text-alignment: center;
}
.label #LabelNick{
    -fx-font-size: 18;
}

#myLabel1{
    -fx-font-size: 89;
    -fx-font-family: "Magneto";
    -fx-text-fill: linear-gradient(to right, greenyellow, indianred) ;
}
#labelinput{
    -fx-tick-label-fill: black;
    -fx-border-color: #9b6c6c;
    -fx-border-radius: 5;
}
#labelTimer {
   -fx-background-image: url("../images/tv2.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 120 120;
    -fx-font-size: 35;
    -fx-font-family: "CentSchbkCyrill BT";
    -fx-text-fill: white;
}
#githubLink{
    -fx-background-image: url("../images/githublogo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
.slider .track {
    -fx-pref-width: 8px;
    -fx-background-color: linear-gradient(to bottom, purple, magenta);
}
.slider .thumb {
    -fx-pref-height: 17px;
    -fx-pref-width: 17px;
    -fx-background-color: linear-gradient(to bottom, yellow, deeppink, magenta, purple);
}
#muteButton {
    -fx-background-color: transparent;
    -fx-background-image: url("../images/mute.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-opacity: 0.8;
}
#muteButton:hover {
    -fx-background-color: transparent;
    -fx-background-image: url("../images/mute.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-opacity: 0.8;
}
#muteButton:pressed {
    -fx-background-color: transparent;
    -fx-background-image: url("../images/mute.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-opacity: 0.8;
}